Retain Order of Domains

<a href="https://github.com/zx2c4"><img src="https://avatars.githubusercontent.com/u/10643?v=3" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [zx2c4](https://github.com/zx2c4)**
_Tuesday Feb 09, 2016 at 13:42 GMT_
_Originally opened as https://github.com/kuba/simp_le/issues/72_

----

For certificates that authenticate multiple sites, I'd like to specify which domain goes in the CN field. This should probably be the first `-d` domain specified. But since simp_le uses a dictionary, the ordering provided by the user is lost.

Could you have the ordering of `-d` be preserved, or add another switch to specify explicitly which domain should be in the CN?

Thanks.



<a href="https://github.com/trunneml"><img src="https://avatars.githubusercontent.com/u/241487?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [trunneml](https://github.com/trunneml)**
_Sunday Feb 21, 2016 at 16:42 GMT_

----

It should be enough to change the dict in https://github.com/kuba/simp_le/blob/master/simp_le.py#L1273 to an OrderedDict.



<a href="https://github.com/wiml"><img src="https://avatars.githubusercontent.com/u/156891?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [wiml](https://github.com/wiml)**
_Sunday Feb 21, 2016 at 23:03 GMT_

----

FWIW, if there is a domain name SAN, then the contents of the CN are (should be) ignored: this is mentioned in RFC2818 (section 3.1), and also in RFC6125 (section 6.4.4).

Also, I think the ordering of the entries in the SAN list is fixed by the DER encoding rules for SETs.

I think that, between those two things, it would make more sense to simply have an option to specify the contents of the CN, or perhaps the entire subject distinguished name. If you have web clients from the 1990s that require a hostname there, you can specify the one you like.



<a href="https://github.com/zx2c4"><img src="https://avatars.githubusercontent.com/u/10643?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [zx2c4](https://github.com/zx2c4)**
_Sunday Feb 21, 2016 at 23:06 GMT_

----

Either way works well for me. I think I like the idea of having an explicit option the best though.



<a href="https://github.com/kuba"><img src="https://avatars.githubusercontent.com/u/106176?v=3" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [kuba](https://github.com/kuba)**
_Sunday Apr 17, 2016 at 21:23 GMT_

----

This will be WONTFIX obsolete as of #105.



Closing; see discussion in #30